.reviews-title {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.04em;
}

.review-container {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  width: 100%;
  padding: 20px;
}

.review-person {
  display: flex;
  gap: 10px;
  margin-bottom: 4px;
}

.review-person-img {
  border-radius: 100px;
}

.review-person-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.review-person-position {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.5);
}

.svg-review-stars {
  display: flex;
  gap: 4px;
  padding-left: 66px;
  margin-bottom: 20px;
}

.svg-review-stars-item {
  line-height: 0;
}

.svg-stars-review {
  fill: var(--brown);
  stroke: var(--brown);
}

.not-active-star {
  fill: rgba(255, 255, 255, 0.2);
  stroke: #414141;
}

.review-comment {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.review-container-desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .reviews-title {
    font-size: 48px;
    margin-bottom: 50px;
  }

  .review-person-position {
    font-size: 14px;
  }

  .review-comment {
    font-size: 16px;
  }

  .review-container {
    max-width: 640px;
    margin: 0 auto;
  }

  .review-tablet-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .svg-review-stars {
    padding: 0;
  }
}

@media screen and (min-width: 1280px) {
  .review-container {
    max-width: 530px;
  }

  .desktop-review-items {
    display: flex;
    gap: 20px;
  }

  .review-container-desktop {
    display: block;
  }
}

@media screen and (min-width: 1440px) {
  .review-container {
    max-width: 610px;
  }
}
